@media screen and (min-width : 601px) {
    .palkkiphone {
	 display: none;
	 }
}
@media screen and (max-width : 1920px){
html {
    min-height: 100%;
}
body {
  color: #000000;
  background-color: #FFFFFF;
  font-family: "Times New Roman", serif;
  width: 98%;
  margin-left: 0.5em; 
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 110%;
  min-height: 100%;
  font-size: 100%;
}
h1, h2 {
  color: #000000;
  font-size: 140%;
  margin-left: 0.5em;
  margin-right: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.1em;
}
p {
    background-color: #FFFFFF;
    color: #000000; 
    font-size: 100%;
    width: 95%;
    min-height: 100%;
    margin-left: 0.5em;
    float: none;
}
.palkki {
    background-color: #F75976;
    color: #3814D3; 
    height: 2.0em;
    margin: 0;
    width: 98%;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.palkkilinkit {
    padding: 0.4em 0.5em;
    width: 98%;
    font-size: 1.6vw;
    text-align: left;
    float: none;
    margin-right: 0.5em;
}
.k_svg img  {
  width: 5.4em;
  height: 14.6em;
  float: right;
}

.palkki2 {
    background-color: #F75976;
    color: #3814D3; 
    max-height: 2em;
    margin-right: 0.5em;
    width: 98%;
}
.palkkivasen {
    float: left;
    font-size: 100%;
    padding: 0.5em 0.5em;
    position: relative;
}
.palkkioikea {
    float: right;
    color: #19090C;
    font-size: 100%;
    padding: 0.5em 0.5em;
}
.clear {
    clear: both;
    height: 2em;
    position: relative;
}
nav {
 background-color: #F75976;
 min-width: 17%;
 width: auto;
 height: auto;
 border: 0.7em solid #B51230;
 border-style: double;
 margin-top: 0.8em;
 margin-left: 1.5em;
 float: right;
 padding-left: 0;
}
ul {
  margin-right: 0.1em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 1.0em;
  padding: 0.1em;
}
.etusivukuva {
    text-align: center;
    float: left;
}
.kuvateksti {
  position: relative;
  overflow: hidden;
  border: none;
  padding-top: 52.25%;
  margin-bottom: 0.1em;
  margin-left: 1.0em;
}
.videolinkki {
    margin-left: 1.0em;
    margin-top: 0;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border: 0;
}
table {
  caption-side: top;
  text-align: right;
  width: 40%;
  border-collapse: collapse; 
  empty-cells: hide;
  border: 0.4em dotted #B51230;
  font-size: 120%;
  margin-left: 1.5em;
}
td {
  border-top: 0.15em solid #B51230;
  border-bottom: 0.15em solid #B51230;
  border-right: 0.15em solid #B51230;
  height: 1.15em;
}
th {
  border-right: 0.15em solid #B51230;
  height: 1.15em;
  text-align: center;
}
.galleriakuva {
  float: left;
  width: 270px;
  height: 210px;
  clear: right;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.galleriakuva2 {
  text-align: center;
  overflow: hidden;
  margin-bottom: 0.1em;
  padding: 0;
  font-size: 1.0em;
}
.flex {
     display: flex;
      flex-wrap: wrap;
       min-height: 100%;
        margin-bottom: 2em;
	 margin-left: 1em;
}
iframe {
    margin-left: 0.5em;
}
.buttonright {
    float: right;
}
.video1 {
  width: 75%;
  height: 55%;
  margin-left: 1.5em;
}
 fieldset {
      display: block;
       width: 65%;
        margin-left: 0.5em;
	 line-height: 150%;
 }
label.left { 
    float: left;
    width: auto; 
    margin-right: 0.5em; 
}
.right {
    float: right;
    width: auto;
}
}
@media ( max-width: 600px ) {
body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background: white;
  font-family: "Times New Roman", sans-serif;
  line-height: 110%; 
  font-size: 100%;
  width: 98%;
  min-height: 100%;
}
h1, h2 {
font-size: 100%;
margin-left: 0.5em;
}
p {
 width: 96%;
 font-size: 100%;
 height: auto;
}
 fieldset {
      width: auto;
}
 nav {
  float: none;
  border: 0;
  margin-top: -5%;
  margin-left: 0;
  height: auto;
  min-width: 100%;
  padding-left: 0.5em;
}

.k_svg {
    display: none;
}
.palkki {
    display: none;
}
.palkkilinkit {
    display: none;
    padding: 0;
    font-size: 100%;
}
.palkkiphone {
    background-color: #F75976;
    color: #3814D3; 
    margin-bottom: 0;
    margin-left: 0.5em;
    line-height: 1.0em;
    min-width: 97%;
    padding-top: 1em;
    font-size: 100%;
}
.palkki2 {
    background-color: #F75976;
    color: #3814D3; 
    width: 103%;
}
.palkkivasen {
    float: left;
    font-size: 100%;
    padding: 0.2em 0.5em;
}
.palkkioikea {
    float: right;
    color: #19090C;
    font-size: 100%;
    padding: 0.2em 0.5em;
}
.clear {
    clear: both;
    height: 2em;
}
 .palkki {
     height: 4.2em; 
}
.galleriakuva {
  float: left;
  width: 270px;
  height: 210px;
  clear: right;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.galleriakuva2 {
  text-align: center;
  overflow: hidden;
  margin-bottom: 0.1em;
  padding: 0;
  font-size: 1.0em;
}
.flex {
     display: flex;
      flex-wrap: wrap;
       min-height: 100%;
        margin-bottom: 2em;
	margin-left: 2em;
}
img {
 max-width: 98%;
}
pre {
 overflow: scroll;
}
table {
    width: 95%;
    margin-left: 0.5em;
}
}
@media print {
body {
  color: #000000;
  background-color: #FFFFFF;
  font-family: "Times New Roman", serif;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  min-height: 100%;
}
h1, h2 {
  color: #000000;
  font-size: 100%;
  margin-left: 0em;
  margin-right: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
p {
    background-color: #FFFFFF;
    color: #000000; 
    font-size: 110%;
}
.palkki {
    background-color: #F75976;
    color: #3814D3; 
    height: 3em;
    margin: 0;
    width: 100%;
    display: none;
}
.palkkilinkit {
    text-align: left;
    padding: 0.8em 0.5em;
}
.k_svg {
    width: 6.5em;
    height: 16.2em;
    position: relative;
    right: 43%;
    top: 1%;
}
.palkki2 {
    background-color: #F75976;
    color: #3814D3; 
}
.palkkivasen {
    float: left;
    font-size: 115%;
    padding: 0.2em 0.5em;
}
.palkkioikea {
    float: right;
    color: #19090C;
    font-size: 115%;
    padding: 0.2em 0.5em;
}
.clear {
    clear: both;
    height: 2em;
}
nav {
 display: none;
 float: right;
 top: 5%;
 background-color: #F75976;
 width: 18%;
 border: 0.7em solid #B51230;
 border-style: double;
 margin-top: 3.8em;
 margin-left: 0.5em;
}
ul {
 padding: 0.1em;
 margin-left: 1.2em;
}
.etusivukuva {
    text-align: center;
    float: left;
}
.kuvateksti {
  position: relative;
  overflow: hidden;
  display: inline-block; 
  padding-top: 56.25%;
}
.kuvateksti2 {
  display: inline-block; 
  text-align: center;
}
table {
  caption-side: top;
  text-align: right;
  width: 28%;
  border-collapse: collapse; 
  empty-cells: hide;
  border: 0.4em dotted #B51230;
  font-size: 120%;
}
td {
  border-top: 0.15em solid #B51230;
  border-bottom: 0.15em solid #B51230;
  border-right: 0.15em solid #B51230;
  height: 0.15em;
}
th {
  border-right: 0.15em solid #B51230;
  height: 0.15em;
  text-align: center;
}
.galleriakuva {
  float: left;
  width: 270px;
  height: 210px;
  text-align: center;
  clear: right;
  margin-top: 0.5em;
  position: relative;
}
.galleriakuva p {
  height: 1.5em;
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}
.flex {
     display: flex;
      flex-wrap: wrap;
       max-height: 500px;
}
}