//Change default directory page
DirectoryIndex index.html

//404
ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule !(js|ico|gif|jpg|png|pdf|css|swf|flv|libraries|maint|admin|login|logout|reg) index.php [QSA,L,NC]
</IfModule>