//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^temek1.github.io[nc]
RewriteRule ^(.*)$ http://www.temek1.github.io/$1 [r=301,nc]

//Change default directory page
DirectoryIndex index.shtml
