/*--------------------------------------------Mobile Scaling---------------------------------*/
@media (max-width: 767px) {
body{margin: 0; font-size:15px; font-family:Georgia, "Times New Roman", Times, serif; color:#FFFFFF; background-color:#33CCFF; overflow-x:hidden;}

#container{}

#container #col1{display:block; float:left; width:98%; color:#6C6E72;}
#container #col1 figure{text-align: center; font-size: smaller; font-style: italic; text-indent: 0;} img{border-radius: 5%; max-width: 75%; margin-top: 4%; height: auto;}
#container #col2{display: block; float: left; width: 98%; color: #979797; padding-left: 2%; background-color: #FFFFFF;}

#index_container{}

#index_container #col_1{display: block; float: left; width: 100%; color: #6C6E72;}
#index_container #col_1 figure{text-align: center; font-size: smaller; font-style: italic; text-indent: 0;} img{border-radius: 5%; max-width: 75%; margin-top: 4%; height: auto;}
#index_container #col_2{display: block; float:left; width: 98%; color: #979797; padding-left: 2%; background-color: #FFFFFF; margin-top: 2%;}
#index_container #col_3{display: none;}
#index_container #col_mobile_talks{display: block; float:left; color: #979797; background-color: #FFFFB3; border: 1px solid #D1D1E0; padding: 0; margin-top: 2%; margin-bottom: -2%; border-style: dashed;}

#navbar{}

#navbar #nav1	{display: block; float: left; width: 100%; color: #F2F2F2; text-align: center; text-decoration: none; font-size: 95%; background-color:#33CCFF; margin-top: 2%;}

table {border-collapse: collapse; width: 96%; font-size: 13px; margin-bottom: 5%;}
tr:nth-child(even) {background-color: #F2F2F2; height: 50px;}
tr:nth-child(odd) {height: 70px;}
tr:hover {background-color: #CCFFE6;}

#footer{}
#footer #footer1{text-align: center; color:#666699; padding-top: 0.5%}
}

/*------------------------------------------Scaling for desktop------------------------------*/
@media (min-width: 768px) {
/*----------------------------------------------Main-----------------------------------------*/
body{margin:0; padding:0; font-size:15px; font-family:Georgia, "Times New Roman", Times, serif; color:#FFFFFF; background-color:#33CCFF; overflow-x:hidden;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; width:100%; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

.fl_left{float:left;}
.fl_right{float: right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, hgroup, nav, section{display:block; margin:0; padding:0;}

/*----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:100%; text-align:left;}

.row1{color:#C0BAB6; background-color:#1E1E1E;}
.row2{color:#979797; background-color:#FFFFFF;}
.row3{color:#666699; background-color:#33CCFF;}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #navbar, #index_container, #container, #footer{display:block; width:100%;}

h1, h2, h3, h4, h5, h6{margin-left: 0; margin-right: 0; margin-bottom: 0; margin-top: 2%; padding:0; font-size:24px; font-weight:normal; font-style:normal; line-height:normal;}


/*----------------------------------------------Header-------------------------------------*/

#header{}

/*--Content--*/
#header #header1{display:block; float: left; width:100%; color:#FFFFFF; background-color:#33CCFF;}
	
/*----------------------------------------------Navbar-------------------------------------*/

#navbar{}

/*--Content--*/
#navbar #nav1	{display:block; float: left; width:100%; color:#F2F2F2; text-align: center; padding: 1% 2%; text-decoration: none; font-size: 130%; word-spacing: 10px; background-color:#33CCFF;}

/*----------------------------------------------Content Container-------------------------------------*/

#container{}

/*--Content--*/

#container #col1{display:block; float:left; width:20%; color:#6C6E72;}
#container #col1 figure{text-align: center; font-size: smaller; font-style: italic; text-indent: 0;} img{border-radius: 5%; max-width: 75%; margin-top: 8%; height: auto;}
#container #col2{display:block; float:left; width:75%; color:#979797; background-color:#FFFFFF;}


#index_container{}

/*--Content--*/

#index_container #col_1{display:block; float:left; width:20%; color:#6C6E72;}
#index_container #col_1 figure{text-align: center; font-size: smaller; font-style: italic; text-indent: 0;} img{border-radius: 5%; max-width: 75%; margin-top: 8%; height: auto;}
#index_container #col_2{display:block; float:left; width:58%; color:#979797; background-color:#FFFFFF; margin-top: 2%; margin-right: 2%}
#index_container #col_3{display:block; float:left; width:15%; color:#979797; background-color:#FFFFB3; border: 1px solid #D1D1E0; padding: 2%; margin-top: 2%; margin-bottom: 2%; border-style: dashed;}
#index_container #col_mobile_talks{display: none;}


/*----------------------------------------------Table-------------------------------------*/
	
table {border-collapse: collapse; width: 100%; font-size: 17px; margin-bottom: 5%;}

tr:nth-child(even) {background-color: #F2F2F2; height: 50px;}
tr:nth-child(odd) {height: 100px;;}
tr:hover {background-color: #CCFFE6;}

table#t01 {table-layout: fixed;}

/*----------------------------------------------Footer-------------------------------------*/

#footer{}

#footer #footer1{text-align: center; padding-top: 0.5%;}

}
/*------End of Desktop settings------*/

/*-----------------------Some shared settings between mobile and desktop-------------------*/
a{outline:none; text-decoration:none;}
a:link {color: #FF0000;}
a:visited {color: #008000;}
a:hover {color: #00FF00;}
a:active {color: #0000FF;}
