/*-----------------------Some shared general settings between mobile and desktop-------------------*/
#header, #navbar, #index_container, #container, #footer { display:block; width:100%; }

h1, h2, h3 {font-size:24px; font-style:normal; font-weight:normal; line-height:normal; margin: 2% 0 0 0; padding:0; text-align: left; }
h4, h5, h6 {font-size:18px; font-style:normal; font-weight:normal; line-height:normal; margin: 2% 0 0 0; padding:0; text-align: left; }

a {outline:none; text-decoration:none;}
a:link {color: #000000; text-decoration: underline;}
a:visited {color: #000000; text-decoration: underline;}
a:hover {color: #5b5151; text-decoration: underline;}
a:active {color: #5b5151; text-decoration: underline;}
a.talks { word-spacing: 0.005em; text-decoration: underline;}

/*--------------------------------------------Mobile Scaling----------------------------*/
@media only screen and (max-width: 720px) {
body{background-color: #d0cec8; color:#626262; font-family:Verdana, "Trebuchet MS", Tahoma, Geneva, Cambria, Calibri, "Microsoft Sans Serif"; font-size:15px;  margin: 0;  overflow-x:hidden; }

#container #col1{color: #6C6E72; display: block; float: left; width: 98%;}
#container #col1 figure{ font-size: smaller; font-style: italic; text-align: center;  text-indent: 0;} img{border-radius: 5%; height: auto; margin-top: 4%; max-width: 75%; }
#container #col2{background-color: #eeebe0; color: #626262; display: block; float: left; padding-left: 2%; padding-right: 2%; width: 96%;}

#index_container #col_1{color: #6C6E72; display: block; float: left; width: 100%;}
#index_container #col_1 figure{font-size: smaller; font-style: italic; height: auto; text-align: center; text-indent: 0; } img{ border-radius: 5%; margin-top: 4%; max-width: 75%; }
#index_container #col_2{background-color: #eeebe0; color: #626262; display: block; float:left; margin-top: 2%; padding-left: 2.5%; padding-right: 2.5%; text-align: justify;  }
#index_container #col_3{display: none;}
#index_container #col_mobile_talks{background-color: #fef8d6; border: 1px solid #6C6E72; border-style: dashed;  color: #626262; display: block; float:left; margin-bottom: -2%; margin-top: 2%; padding-left: 2%; padding-right: 2%; }


#navbar #nav1 {background-color: #adadad; display: block; float: left; font-size: 120%; margin-top: 2%; text-align: center; text-decoration: none; width: 100%;} 

table {border-collapse: collapse; margin-bottom: 5%; width: 96%;}
tr:nth-child(even) {background-color: #F2F2F2; height: 50px;}
tr:nth-child(odd) {height: 70px;}
tr:hover {background-color: #f7f7f7;}

#footer #footer1{color:#666699; padding-top: 0.5%; text-align: center;}

}

/*------------------------------------------Scaling for desktop---------------------------*/
@media only screen and (min-width: 721px) {
body {background-color:#6C6E72; color:#626262; font-family: Verdana, "Trebuchet MS", Tahoma, Geneva, Cambria, Calibri, "Microsoft Sans Serif"; font-size:15px;  margin:0; overflow-x:hidden; padding:0;}
 
.clear:after {clear:both; content:"."; display:block; height:0; line-height:0; visibility:hidden;}
.clear {clear:both; display:block; width:100%;}
html[xmlns] .clear {display:block;}
* html .clear {height:1%;}

.fl_left {float: left;}
.fl_right {float: right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, hgroup, nav, section{display:block; margin:0; padding:0;}

/*----------------------------------------------Wrapper-------------------------------------*/

.wrapper {display:block; text-align:left; width:100%; }

.row1 {position: -webkit-sticky; position: sticky; top: 0;}
.row2 {background-color:#eeebe0; color:#626262;}
.row3 {color:#eeebe0;}

/*----------------------------------------------Header-------------------------------------*/

/*--Content--*/
#header #header1 {display:block; float: left; width:100%;}
	
/*----------------------------------------------Navbar-------------------------------------*/

/*--Content--*/
#navbar #nav1 {background-color:#adadad; display:block; float: left; font-size: 130%; padding: 1% 2%; text-align: center; text-decoration: none; width:100%; word-spacing: 10px;}

/*----------------------------------------------Content Container--------------------------*/

/*--Content--*/

#container #col1 {color:#6C6E72; display:block; float:left; position: -webkit-sticky; position: sticky; top: 3rem; width:20%;}
#container #col1 figure{font-size: smaller; font-style: italic; text-align: center; text-indent: 0;} img{border-radius: 5%; height: auto; margin-top: 8%;  max-width: 75%;}
#container #col2 {background-color:#eeebe0; color:#626262; display:block; float:left; text-align: justify; width:75%;}

/*--Content--*/

#index_container #col_1 {color:#6C6E72; display:block; float:left; position: -webkit-sticky; position: sticky; top: 3rem; width:20%;}
#index_container #col_1 figure {font-size: smaller; font-style: italic; text-align: center; text-indent: 0;} img{border-radius: 5%; height: auto; margin-top: 8; max-width: 75%;}
#index_container #col_2 {background-color:#eeebe0; color:#626262; display:block; float:left; margin-right: 2%; margin-top: 2%; text-align: justify; width:58%;}
#index_container #col_3 {background-color:#fef8d6; border: 1px solid #6C6E72; border-style: dashed; color:#626262; display:block; float:left; margin: 2% 0 2% 0; padding: 2%; position: -webkit-sticky; position: sticky; top: 4.2rem; width:15%;}
#index_container #col_mobile_talks{display: none;}

/*----------------------------------------------Table-------------------------------------*/
	
table {border-collapse: collapse; margin-bottom: 5%; width: 100%;}

tr:nth-child(even) {background-color: #F2F2F2; height: 50px;}
tr:nth-child(odd) {height: 100px;}
tr:hover {background-color: #f7f7f7;}

#t01 {table-layout: fixed;}

/*----------------------------------------------Footer-------------------------------------*/

#footer #footer1 {padding-top: 0.5%; text-align: center;}

}
/*------End of Desktop settings------*/	
